/* Styles for Login Page */

.login-component {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 80vw;
    padding: 0 10vw 0 10vw;
}

.login-container {
    background-color: var(--primary-bg-light);
    color: var(--primary-text-light);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 300px;
    width: 60%;
    max-width: 700px;
}

.heading {
    font-size: 28px;
    margin-bottom: 20px;
}

.login-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: var(--accent-color);
    color: var(--primary-text-light);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.login-form button:hover {
    background-color: #0056b3;
}

.login-form p {
    margin-top: 15px;
    font-size: 18px;
}

.login-form a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
}

/* Dark theme styles */
body.dark-theme .login-container {
    background-color: var(--primary-bg-dark);
    color: var(--primary-text-dark);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
}

body.dark-theme .login-form input,
body.dark-theme .login-form button {
    background-color: #333;
    color: var(--primary-text-dark);
    border: 1px solid #555;
}

body.dark-theme .login-form button:hover {
    background-color: #666;
}

body.dark-theme .login-form a {
    color: #0099ff;
}